html {
    width:100%;
    height:100%;
}

body {
    font-family: 'Arial',serif;
    color: #333;
    background: #999;
    width: 100%;
    font-size: 14px;
    margin: 0;
}
a {
    color: #000;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
#logo {
    height: 100px;
    padding: 0 15px;
    background: #ddd;
}
#footer {
    background: #ddd;
    height: 100px;
    overflow: hidden;
    padding: 0 15px;
}
.container {
    position: relative;
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
}

#main-menu ul {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
}
#main-menu ul li:first-child {
    border-left: 0;
}
#main-menu ul li {
    display: block;
    width: 24.89%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
    border-left: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
.menu ul li.active {
    background: #f33!important;
}
.left-menu {
    position: absolute;
    left: -200px;
    top: 0;
    bottom: 0;
    background: #333;
}
.content-locked {
    position: absolute;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.left-menu ul li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
    border-bottom: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
.left-menu ul {
    width: 200px;
    height: 100%;
    background: #333;
    margin: 0;
    padding: 0;
}
#left-menu ul li:first-child {
    border-top: 0;
}
.help-button a {
    display: block;
    text-decoration: none;
    margin: 15px auto 0 auto;
    line-height: 30px;
}
.btn {
    color: #fff;
    border: 0;
    border-radius: 1px;
    width: 70px;
    height: 30px;
    line-height: 25px;
    margin: 15px 0 0 0;
    text-align: center;
    cursor: pointer;
}
.red-button {
    background: #f33;
}
.green-button {
    background: #393;
}
.logo-text {
    margin: 15px 0 0 0;
}
.main-content {
    padding: 15px;
    background: #fff;
    overflow: hidden;
}
.float-right {
    float: right;
}
#help-button {
    margin-top: 32px;
}
.footer-text {
    line-height: 100px;
    float: left;
}
.animals-text p {
    margin: 0;
    text-indent: 20px;
    line-height: 19px;
}
h2.animals-title {
    font-size: 25px;
    margin: 0 0 12px 0;
}
.animals-image {
    margin: 0 15px 0 0;
    float: left;
    display: block;
}
.animals-text{
    overflow: hidden;
}
.help-modal {
    display: none;
    background: #fff;
    width: 300px;
    height: 200px;
    border: 3px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.modal-header {
    padding: 15px;
    font-weight: 600;
    border-bottom: 1px solid #333;
}

.help-buttons {
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.help-button {
    width: 50%;
    float: left;
    text-align: center;
}

.out-bg {
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.contacts-form {
    width: 320px;
    margin: 20px auto;
    overflow: hidden;
}
.form-group {
    margin-bottom: 15px;
}
.form-group input {
    width: 100%;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}
input[type=submit] {
    width: 70px;
    margin-top: 0!important;
}

.form-group textarea {
    width: 100%;
    padding: 15px;
    height: 150px;
    resize: vertical;
}
.tabs {
    display: none;
}
.tabs.active {
    display: block;
}

